.container{
	width: 700px;
	margin: 0 auto;
}
img{
	width: 700px;
}
* {
	font-family: Arial;
	text-align: center;
}
.linea{
	height: 1px;
	width: 700px;
	background-color: gray;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
 }
 .vertical{
 	height: 1px;
 	width: 10px;
 	margin-left: 10px;
 	margin-right: 10px;
 	background-color: black;
 	display: inline;
 }

h4{
	text-align: left;
}
.lineaDeParrafo{
	height: 1px;
	width: 60px;
	background-color: gray;
}
p {
	margin-left: 80px;
	margin-right: 80px;
}
.lineaDeImg{
	height: 1px;
	width: 60px;
	background-color: black;
	margin-left: 0px;
}
.fotoc1{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
	position: relative;
}
.nombre {
	height: 20px;
	width: 180px;
	margin: 0px;
	border: 0px;
	color: white;
	margin-top: -37px;
	margin-left: 58px;
	position: absolute;
}
.borde {
	border: 3px solid gray;
}